.detail-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50vh;
}

.detail-category {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    opacity: .7;
}

.detail-content h2 {
    margin-top: 20px;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.detail-content p {
    margin-top: 10px;
    font-size: 1.2rem;
}
